{
    "annotations": {
      "list": [
        {
          "builtIn": 1,
          "datasource": {
            "type": "grafana",
            "uid": "-- Grafana --"
          },
          "enable": true,
          "hide": true,
          "iconColor": "rgba(0, 211, 255, 1)",
          "name": "Annotations & Alerts",
          "type": "dashboard"
        }
      ]
    },
    "description": "Overview of the cluster infrastructure and pipeline progress\nCOMP0239",
    "editable": true,
    "fiscalYearStartMonth": 0,
    "graphTooltip": 0,
    "id": 1,
    "links": [],
    "liveNow": false,
    "panels": [
      {
        "datasource": "host-prometheus",
        "gridPos": {
          "h": 2,
          "w": 10,
          "x": 7,
          "y": 0
        },
        "id": 27,
        "options": {
          "code": {
            "language": "plaintext",
            "showLineNumbers": false,
            "showMiniMap": false
          },
          "content": "# Audio transcription cluster monitoring ",
          "mode": "markdown"
        },
        "pluginVersion": "10.2.6",
        "transparent": true,
        "type": "text"
      },
      {
        "collapsed": false,
        "gridPos": {
          "h": 1,
          "w": 24,
          "x": 0,
          "y": 2
        },
        "id": 24,
        "panels": [],
        "title": "Manager health ",
        "type": "row"
      },
      {
        "datasource": "host-prometheus",
        "fieldConfig": {
          "defaults": {
            "color": {
              "mode": "palette-classic"
            },
            "custom": {
              "axisBorderShow": false,
              "axisCenteredZero": false,
              "axisColorMode": "text",
              "axisLabel": "",
              "axisPlacement": "auto",
              "barAlignment": 0,
              "drawStyle": "line",
              "fillOpacity": 0,
              "gradientMode": "none",
              "hideFrom": {
                "legend": false,
                "tooltip": false,
                "viz": false
              },
              "insertNulls": false,
              "lineInterpolation": "linear",
              "lineWidth": 1,
              "pointSize": 5,
              "scaleDistribution": {
                "type": "linear"
              },
              "showPoints": "auto",
              "spanNulls": false,
              "stacking": {
                "group": "A",
                "mode": "none"
              },
              "thresholdsStyle": {
                "mode": "off"
              }
            },
            "mappings": [],
            "thresholds": {
              "mode": "absolute",
              "steps": [
                {
                  "color": "green",
                  "value": null
                },
                {
                  "color": "red",
                  "value": 80
                }
              ]
            }
          },
          "overrides": []
        },
        "gridPos": {
          "h": 8,
          "w": 8,
          "x": 4,
          "y": 3
        },
        "id": 23,
        "options": {
          "legend": {
            "calcs": [],
            "displayMode": "list",
            "placement": "bottom",
            "showLegend": true
          },
          "tooltip": {
            "mode": "single",
            "sort": "none"
          }
        },
        "targets": [
          {
            "datasource": "host-prometheus",
            "disableTextWrap": false,
            "editorMode": "builder",
            "expr": "(node_memory_MemTotal_bytes{instance=\"localhost:{{ nodeexporter_port }}\"} - node_memory_MemAvailable_bytes{instance=\"localhost:{{ nodeexporter_port }}\"}) / 1024^3",
            "fullMetaSearch": false,
            "includeNullMetadata": true,
            "instant": false,
            "interval": "",
            {% raw %}
            "legendFormat": "{{instance}}",
            {% endraw %}
            "range": true,
            "refId": "A",
            "useBackend": false
          }
        ],
        "title": "Manager memory usage in Megabytes ",
        "type": "timeseries"
      },
      {
        "datasource": "host-prometheus",
        "description": "Host",
        "fieldConfig": {
          "defaults": {
            "color": {
              "mode": "palette-classic"
            },
            "custom": {
              "hideFrom": {
                "legend": false,
                "tooltip": false,
                "viz": false
              }
            },
            "mappings": [],
            "unit": "decgbytes"
          },
          "overrides": []
        },
        "gridPos": {
          "h": 8,
          "w": 8,
          "x": 12,
          "y": 3
        },
        "id": 26,
        "options": {
          "displayLabels": [
            "name"
          ],
          "legend": {
            "displayMode": "list",
            "placement": "bottom",
            "showLegend": true
          },
          "pieType": "pie",
          "reduceOptions": {
            "calcs": [
              "lastNotNull"
            ],
            "fields": "",
            "values": false
          },
          "tooltip": {
            "mode": "single",
            "sort": "none"
          }
        },
        "targets": [
          {
            "datasource": "host-prometheus",
            "disableTextWrap": false,
            "editorMode": "code",
            "exemplar": false,
            "expr": "sum(node_filesystem_avail_bytes{instance=\"localhost:{{ nodeexporter_port }}\",fstype!~\"tmpfs|nfs4\", device!=\"{{ worker_ips[0]}}:/data/nfs\"}) / 1000000000",
            "fullMetaSearch": false,
            "hide": false,
            "includeNullMetadata": true,
            "instant": false,
            "legendFormat": "free",
            "range": true,
            "refId": "free",
            "useBackend": false
          },
          {
            "datasource": "host-prometheus",
            "editorMode": "code",
            "exemplar": false,
            "expr": "(sum(node_filesystem_size_bytes{instance=\"localhost:{{ nodeexporter_port }}\",fstype!~\"tmpfs|nfs4\", device!=\"{{ worker_ips[0]}}:/data/nfs\"})-sum(node_filesystem_avail_bytes{instance=\"localhost:{{ nodeexporter_port }}\",fstype!~\"tmpfs|nfs4\", device!=\"{{ worker_ips[0]}}:/data/nfs\"})) / 1000000000",
            "hide": false,
            "instant": false,
            "legendFormat": "used",
            "range": true,
            "refId": "used"
          }
        ],
        "title": "Manager Disk utilization",
        "type": "piechart"
      },
      {
        "collapsed": false,
        "gridPos": {
          "h": 1,
          "w": 24,
          "x": 0,
          "y": 11
        },
        "id": 3,
        "panels": [],
        "title": "Overview",
        "type": "row"
      },
      {
        "datasource": "host-prometheus",
        "fieldConfig": {
          "defaults": {
            "color": {
              "mode": "palette-classic"
            },
            "custom": {
              "axisBorderShow": false,
              "axisCenteredZero": false,
              "axisColorMode": "text",
              "axisLabel": "",
              "axisPlacement": "auto",
              "barAlignment": 0,
              "drawStyle": "line",
              "fillOpacity": 0,
              "gradientMode": "none",
              "hideFrom": {
                "legend": false,
                "tooltip": false,
                "viz": false
              },
              "insertNulls": false,
              "lineInterpolation": "linear",
              "lineWidth": 1,
              "pointSize": 5,
              "scaleDistribution": {
                "type": "linear"
              },
              "showPoints": "auto",
              "spanNulls": false,
              "stacking": {
                "group": "A",
                "mode": "none"
              },
              "thresholdsStyle": {
                "mode": "off"
              }
            },
            "mappings": [],
            "thresholds": {
              "mode": "absolute",
              "steps": [
                {
                  "color": "green",
                  "value": null
                },
                {
                  "color": "red",
                  "value": 80
                }
              ]
            }
          },
          "overrides": []
        },
        "gridPos": {
          "h": 8,
          "w": 10,
          "x": 7,
          "y": 12
        },
        "id": 2,
        "options": {
          "legend": {
            "calcs": [],
            "displayMode": "list",
            "placement": "bottom",
            "showLegend": true
          },
          "tooltip": {
            "mode": "single",
            "sort": "none"
          }
        },
        "targets": [
          {
            "datasource": "host-prometheus",
            "disableTextWrap": false,
            "editorMode": "builder",
            "expr": "(node_memory_MemTotal_bytes{instance!=\"localhost:{{ nodeexporter_port }}\"} - node_memory_MemAvailable_bytes{instance!=\"localhost:{{ nodeexporter_port }}\"}) / 1024^3",
            "fullMetaSearch": false,
            "includeNullMetadata": true,
            "instant": false,
            "interval": "",
            {% raw %}
            "legendFormat": "{{instance}}",
            {% endraw %}
            "range": true,
            "refId": "A",
            "useBackend": false
          }
        ],
        "title": "Workers memory usage in Gigabytes ",
        "type": "timeseries"
      },
      {
        "collapsed": false,
        "gridPos": {
          "h": 1,
          "w": 24,
          "x": 0,
          "y": 20
        },
        "id": 5,
        "panels": [],
        "title": "Workers metrics",
        "type": "row"
      },
      {% for worker_ip in worker_ips %}
      {
        "datasource": "host-prometheus",
        "description": "{{ worker_ip }}",
        "fieldConfig": {
          "defaults": {
            "color": {
              "mode": "palette-classic"
            },
            "custom": {
              "axisBorderShow": false,
              "axisCenteredZero": false,
              "axisColorMode": "text",
              "axisGridShow": true,
              "axisLabel": "",
              "axisPlacement": "auto",
              "barAlignment": 0,
              "drawStyle": "line",
              "fillOpacity": 0,
              "gradientMode": "none",
              "hideFrom": {
                "legend": false,
                "tooltip": false,
                "viz": false
              },
              "insertNulls": false,
              "lineInterpolation": "linear",
              "lineWidth": 1,
              "pointSize": 5,
              "scaleDistribution": {
                "type": "linear"
              },
              "showPoints": "auto",
              "spanNulls": false,
              "stacking": {
                "group": "A",
                "mode": "none"
              },
              "thresholdsStyle": {
                "mode": "off"
              }
            },
            "mappings": [],
            "thresholds": {
              "mode": "absolute",
              "steps": [
                {
                  "color": "green",
                  "value": null
                },
                {
                  "color": "red",
                  "value": 80
                }
              ]
            }
          },
          "overrides": []
        },
        "gridPos": {
          "h": 8,
          "w": 6,
          "x": {{ (loop.index0 % 4) * 6 }},
          "y": 21
        },
        "id": 8,
        "options": {
          "legend": {
            "calcs": [],
            "displayMode": "list",
            "placement": "bottom",
            "showLegend": true
          },
          "tooltip": {
            "mode": "single",
            "sort": "none"
          }
        },
        "targets": [
          {
            "datasource": "host-prometheus",
            "disableTextWrap": false,
            "editorMode": "code",
            "expr": "100 - (\n  sum(rate(node_cpu_seconds_total{instance=\"{{ worker_ip }}:{{ nodeexporter_port }}\", mode=\"idle\"}[1m])) by (cpu, instance)  /\n  sum(rate(node_cpu_seconds_total{instance=\"{{ worker_ip }}:{{ nodeexporter_port }}\"}[1m])) by (cpu, instance)\n)*100\n",
            "fullMetaSearch": false,
            "includeNullMetadata": false,
            "instant": false,
            {% raw %}
            "legendFormat": "CPU: {{cpu}}",
            {% endraw %}
            "range": true,
            "refId": "A",
            "useBackend": false
          }
        ],
        "title": "Worker {{ loop.index0 + 1}} CPU usage percent",
        "type": "timeseries"
      },
      {% endfor %}
      {% for worker_ip in worker_ips %}
      {
        "datasource": "host-prometheus",
        "description": "{{ worker_ip }}",
        "fieldConfig": {
          "defaults": {
            "color": {
              "mode": "palette-classic"
            },
            "custom": {
              "axisBorderShow": false,
              "axisCenteredZero": false,
              "axisColorMode": "text",
              "axisGridShow": true,
              "axisLabel": "",
              "axisPlacement": "auto",
              "barAlignment": 0,
              "drawStyle": "line",
              "fillOpacity": 0,
              "gradientMode": "none",
              "hideFrom": {
                "legend": false,
                "tooltip": false,
                "viz": false
              },
              "insertNulls": false,
              "lineInterpolation": "linear",
              "lineWidth": 1,
              "pointSize": 5,
              "scaleDistribution": {
                "type": "linear"
              },
              "showPoints": "auto",
              "spanNulls": false,
              "stacking": {
                "group": "A",
                "mode": "none"
              },
              "thresholdsStyle": {
                "mode": "off"
              }
            },
            "mappings": [],
            "thresholds": {
              "mode": "absolute",
              "steps": [
                {
                  "color": "green",
                  "value": null
                },
                {
                  "color": "red",
                  "value": 80
                }
              ]
            }
          },
          "overrides": []
        },
        "gridPos": {
          "h": 8,
          "w": 6,
          "x": {{ (loop.index0 % 4) * 6 }},
          "y": 29
        },
        "id": 11,
        "options": {
          "legend": {
            "calcs": [],
            "displayMode": "list",
            "placement": "bottom",
            "showLegend": true
          },
          "tooltip": {
            "mode": "single",
            "sort": "none"
          }
        },
        "targets": [
          {
            "datasource": "host-prometheus",
            "disableTextWrap": false,
            "editorMode": "code",
            "expr": "100 - (\n  sum(rate(node_cpu_seconds_total{instance=\"{{ worker_ip }}:{{ nodeexporter_port }}\", mode=\"idle\"}[1m]))/\n  sum(rate(node_cpu_seconds_total{instance=\"{{ worker_ip }}:{{ nodeexporter_port }}\"}[1m]))\n)*100\n",
            "fullMetaSearch": false,
            "includeNullMetadata": false,
            "instant": false,
            {% raw %}
            "legendFormat": "CPU: {{cpu}}",
            {% endraw %}
            "range": true,
            "refId": "A",
            "useBackend": false
          }
        ],
        "title": "Worker {{ loop.index0 + 1 }} CPU usage percent across all cores",
        "type": "timeseries"
      },
      {% endfor %}
      {% for worker_ip in worker_ips %}
      {
        "datasource": "host-prometheus",
        "description": "{{ worker_ip }}",
        "fieldConfig": {
          "defaults": {
            "color": {
              "mode": "palette-classic"
            },
            "custom": {
              "hideFrom": {
                "legend": false,
                "tooltip": false,
                "viz": false
              }
            },
            "mappings": [],
            "unit": "decgbytes"
          },
          "overrides": []
        },
        "gridPos": {
          "h": 8,
          "w": 6,
          "x": {{ (loop.index0 % 4) * 6 }},
          "y": 37
        },
        "id": 15,
        "options": {
          "displayLabels": [
            "name"
          ],
          "legend": {
            "displayMode": "list",
            "placement": "bottom",
            "showLegend": true
          },
          "pieType": "pie",
          "reduceOptions": {
            "calcs": [
              "lastNotNull"
            ],
            "fields": "",
            "values": false
          },
          "tooltip": {
            "mode": "single",
            "sort": "none"
          }
        },
        "targets": [
          {
            "datasource": "host-prometheus",
            "disableTextWrap": false,
            "editorMode": "code",
            "exemplar": false,
            "expr": "sum(node_filesystem_avail_bytes{instance=\"{{ worker_ip }}:{{ nodeexporter_port }}\",fstype!~\"tmpfs|nfs4\", device=\"/dev/vda4\"}) / 1000000000",
            "fullMetaSearch": false,
            "hide": false,
            "includeNullMetadata": true,
            "instant": false,
            "legendFormat": "free",
            "range": true,
            "refId": "free",
            "useBackend": false
          },
          {
            "datasource": "host-prometheus",
            "editorMode": "code",
            "exemplar": false,
            "expr": "(sum(node_filesystem_size_bytes{instance=\"{{ worker_ip }}:{{ nodeexporter_port }}\",fstype!~\"tmpfs|nfs4\", device=\"/dev/vda4\"})-sum(node_filesystem_avail_bytes{instance=\"{{ worker_ip }}:{{ nodeexporter_port }}\",fstype!~\"tmpfs|nfs4\", device=\"/dev/vda4\"})) / 1000000000",
            "hide": false,
            "instant": false,
            "legendFormat": "used",
            "range": true,
            "refId": "used"
          }
        ],
        "title": "Worker {{ loop.index0 + 1 }} Disk utilization",
        "type": "piechart"
      },
      {% endfor %}
      {
        "collapsed": false,
        "gridPos": {
          "h": 1,
          "w": 24,
          "x": 0,
          "y": 45
        },
        "id": 6,
        "panels": [],
        "title": "NFS server status",
        "type": "row"
      },
      {
        "datasource": "host-prometheus",
        "description": "{{ worker_ips[0] }}",
        "fieldConfig": {
          "defaults": {
            "color": {
              "mode": "palette-classic"
            },
            "custom": {
              "hideFrom": {
                "legend": false,
                "tooltip": false,
                "viz": false
              }
            },
            "mappings": [],
            "unit": "decgbytes"
          },
          "overrides": []
        },
        "gridPos": {
          "h": 8,
          "w": 8,
          "x": 0,
          "y": 46
        },
        "id": 18,
        "options": {
          "displayLabels": [
            "name"
          ],
          "legend": {
            "displayMode": "list",
            "placement": "bottom",
            "showLegend": true
          },
          "pieType": "pie",
          "reduceOptions": {
            "calcs": [
              "lastNotNull"
            ],
            "fields": "",
            "values": false
          },
          "tooltip": {
            "mode": "single",
            "sort": "none"
          }
        },
        "pluginVersion": "10.2.6",
        "targets": [
          {
            "datasource": "host-prometheus",
            "disableTextWrap": false,
            "editorMode": "code",
            "exemplar": false,
            "expr": "sum(node_filesystem_avail_bytes{instance=\"{{ worker_ips[0] }}:{{ nodeexporter_port }}\", fstype!=\"tmpfs\", device=\"/dev/vdb1\"}) / 1000000000",
            "fullMetaSearch": false,
            "hide": false,
            "includeNullMetadata": true,
            "instant": false,
            "legendFormat": "free",
            "range": true,
            "refId": "free",
            "useBackend": false
          },
          {
            "datasource": "host-prometheus",
            "disableTextWrap": false,
            "editorMode": "code",
            "exemplar": false,
            "expr": "(sum(node_filesystem_size_bytes{instance=\"{{ worker_ips[0] }}:{{ nodeexporter_port }}\", fstype!=\"tmpfs\", device=\"/dev/vdb1\"}) - sum(node_filesystem_avail_bytes{instance=\"{{ worker_ips[0] }}:{{ nodeexporter_port }}\", fstype!=\"tmpfs\", device=\"/dev/vdb1\"})) / 1000000000",
            "fullMetaSearch": false,
            "hide": false,
            "includeNullMetadata": true,
            "instant": false,
            "legendFormat": "used",
            "range": true,
            "refId": "used",
            "useBackend": false
          }
        ],
        "title": "NFS server Data disk utilization",
        "type": "piechart"
      },
      {
        "datasource": "host-prometheus",
        "description": "{{ worker_ips[0] }}",
        "fieldConfig": {
          "defaults": {
            "color": {
              "mode": "palette-classic"
            },
            "custom": {
              "axisBorderShow": false,
              "axisCenteredZero": false,
              "axisColorMode": "text",
              "axisLabel": "",
              "axisPlacement": "auto",
              "barAlignment": 0,
              "drawStyle": "line",
              "fillOpacity": 0,
              "gradientMode": "none",
              "hideFrom": {
                "legend": false,
                "tooltip": false,
                "viz": false
              },
              "insertNulls": false,
              "lineInterpolation": "linear",
              "lineWidth": 1,
              "pointSize": 5,
              "scaleDistribution": {
                "type": "linear"
              },
              "showPoints": "auto",
              "spanNulls": false,
              "stacking": {
                "group": "A",
                "mode": "none"
              },
              "thresholdsStyle": {
                "mode": "off"
              }
            },
            "mappings": [],
            "thresholds": {
              "mode": "absolute",
              "steps": [
                {
                  "color": "green",
                  "value": null
                },
                {
                  "color": "red",
                  "value": 80
                }
              ]
            },
            "unit": "decgbytes"
          },
          "overrides": []
        },
        "gridPos": {
          "h": 8,
          "w": 8,
          "x": 8,
          "y": 46
        },
        "id": 19,
        "options": {
          "legend": {
            "calcs": [],
            "displayMode": "list",
            "placement": "bottom",
            "showLegend": true
          },
          "tooltip": {
            "mode": "single",
            "sort": "none"
          }
        },
        "pluginVersion": "10.2.6",
        "targets": [
          {
            "datasource": "host-prometheus",
            "disableTextWrap": false,
            "editorMode": "code",
            "exemplar": false,
            "expr": "(sum(node_filesystem_size_bytes{instance=\"{{ worker_ips[0] }}:{{ nodeexporter_port }}\", fstype!=\"tmpfs\", device=\"/dev/vdb1\"}) - sum(node_filesystem_avail_bytes{instance=\"{{ worker_ips[0] }}:{{ nodeexporter_port }}\", fstype!=\"tmpfs\", device=\"/dev/vdb1\"})) / 1000000000",
            "fullMetaSearch": false,
            "hide": false,
            "includeNullMetadata": true,
            "instant": false,
            "legendFormat": "used",
            "range": true,
            "refId": "used",
            "useBackend": false
          }
        ],
        "title": "NFS server Data disk utilization over time",
        "type": "timeseries"
      },
      {
      "datasource": "host-prometheus",
      "description": "10.134.12.138",
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "palette-classic"
          },
          "custom": {
            "axisBorderShow": false,
            "axisCenteredZero": false,
            "axisColorMode": "text",
            "axisLabel": "",
            "axisPlacement": "auto",
            "barAlignment": 0,
            "drawStyle": "line",
            "fillOpacity": 0,
            "gradientMode": "none",
            "hideFrom": {
              "legend": false,
              "tooltip": false,
              "viz": false
            },
            "insertNulls": false,
            "lineInterpolation": "linear",
            "lineWidth": 1,
            "pointSize": 5,
            "scaleDistribution": {
              "type": "linear"
            },
            "showPoints": "auto",
            "spanNulls": false,
            "stacking": {
              "group": "A",
              "mode": "none"
            },
            "thresholdsStyle": {
              "mode": "off"
            }
          },
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green",
                "value": null
              },
              {
                "color": "red",
                "value": 80
              }
            ]
          },
          "unit": "decgbytes"
        },
        "overrides": []
      },
      "gridPos": {
        "h": 8,
        "w": 8,
        "x": 16,
        "y": 46
      },
      "id": 39,
      "options": {
        "legend": {
          "calcs": [
            "mean",
            "lastNotNull",
            "min",
            "max"
          ],
          "displayMode": "table",
          "placement": "right",
          "showLegend": true
        },
        "tooltip": {
          "mode": "single",
          "sort": "none"
        }
      },
      "pluginVersion": "10.2.6",
      "targets": [
        {
          "datasource": "host-prometheus",
          "disableTextWrap": false,
          "editorMode": "code",
          "exemplar": false,
          "expr": "rate(node_nfsd_disk_bytes_read_total{instance=\"{{ worker_ips[0] }}:{{ nodeexporter_port }}\"}[5m])",
          "fullMetaSearch": false,
          "hide": false,
          "includeNullMetadata": true,
          "instant": false,
          "legendFormat": "NFSd bytes read",
          "range": true,
          "refId": "used",
          "useBackend": false
        },
        {
          "datasource": "host-prometheus",
          "editorMode": "code",
          "expr": "rate(node_nfsd_disk_bytes_written_total{instance=\"{{ worker_ips[0] }}:{{ nodeexporter_port }}\"}[5m])",
          "hide": false,
          "instant": false,
          "legendFormat": "NFSd bytes written",
          "range": true,
          "refId": "A"
        }
      ],
      "title": "NFS server disk I/O",
      "type": "timeseries"
    },
    {
      "datasource": "host-prometheus",
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "palette-classic"
          },
          "custom": {
            "axisBorderShow": false,
            "axisCenteredZero": false,
            "axisColorMode": "text",
            "axisLabel": "",
            "axisPlacement": "auto",
            "barAlignment": 0,
            "drawStyle": "line",
            "fillOpacity": 0,
            "gradientMode": "none",
            "hideFrom": {
              "legend": false,
              "tooltip": false,
              "viz": false
            },
            "insertNulls": false,
            "lineInterpolation": "linear",
            "lineWidth": 1,
            "pointSize": 5,
            "scaleDistribution": {
              "type": "linear"
            },
            "showPoints": "auto",
            "spanNulls": false,
            "stacking": {
              "group": "A",
              "mode": "none"
            },
            "thresholdsStyle": {
              "mode": "off"
            }
          },
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green",
                "value": null
              },
              {
                "color": "red",
                "value": 80
              }
            ]
          }
        },
        "overrides": []
      },
      "gridPos": {
        "h": 8,
        "w": 12,
        "x": 0,
        "y": 54
      },
      "id": 37,
      "options": {
        "legend": {
          "calcs": [
            "mean",
            "lastNotNull",
            "max",
            "min"
          ],
          "displayMode": "table",
          "placement": "bottom",
          "showLegend": true
        },
        "tooltip": {
          "mode": "single",
          "sort": "none"
        }
      },
      "targets": [
        {
          "datasource": "host-prometheus",
          "editorMode": "code",
          "expr": "rate(node_nfs_rpc_authentication_refreshes_total{instance=\"localhost:9100\"}[5m])",
          "instant": false,
          "legendFormat": "Number of RPC authentication refreshes performed",
          "range": true,
          "refId": "A"
        },
        {
          "datasource": "host-prometheus",
          "editorMode": "code",
          "expr": "rate(node_nfs_rpc_retransmissions_total{instance=\"localhost:9100\"}[5m])",
          "hide": false,
          "instant": false,
          "legendFormat": "Number of RPC transmissions performed",
          "range": true,
          "refId": "B"
        },
        {
          "datasource": "host-prometheus",
          "editorMode": "code",
          "expr": "rate(node_nfs_rpcs_total{instance=\"localhost:9100\"}[5m])",
          "hide": false,
          "instant": false,
          "legendFormat": "Total number of RPCs performed",
          "range": true,
          "refId": "C"
        }
      ],
      "title": "NFS RPC Calls from Host",
      "type": "timeseries"
    },
    {
      "datasource": "host-prometheus",
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "palette-classic"
          },
          "custom": {
            "axisBorderShow": false,
            "axisCenteredZero": false,
            "axisColorMode": "text",
            "axisLabel": "",
            "axisPlacement": "auto",
            "barAlignment": 0,
            "drawStyle": "line",
            "fillOpacity": 0,
            "gradientMode": "none",
            "hideFrom": {
              "legend": false,
              "tooltip": false,
              "viz": false
            },
            "insertNulls": false,
            "lineInterpolation": "linear",
            "lineWidth": 1,
            "pointSize": 5,
            "scaleDistribution": {
              "type": "linear"
            },
            "showPoints": "auto",
            "spanNulls": false,
            "stacking": {
              "group": "A",
              "mode": "none"
            },
            "thresholdsStyle": {
              "mode": "off"
            }
          },
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green",
                "value": null
              },
              {
                "color": "red",
                "value": 80
              }
            ]
          }
        },
        "overrides": []
      },
      "gridPos": {
        "h": 8,
        "w": 12,
        "x": 12,
        "y": 54
      },
      "id": 38,
      "options": {
        "legend": {
          "calcs": [
            "mean",
            "lastNotNull",
            "max",
            "min"
          ],
          "displayMode": "table",
          "placement": "bottom",
          "showLegend": true
        },
        "tooltip": {
          "mode": "single",
          "sort": "none"
        }
      },
      "targets": [
        {
          "datasource": "host-prometheus",
          "editorMode": "code",
          "expr": "rate(node_nfs_rpc_authentication_refreshes_total{instance!=\"localhost:9100\"}[5m])",
          "instant": false,
          "legendFormat": "Number of RPC authentication refreshes performed",
          "range": true,
          "refId": "A"
        },
        {
          "datasource": "host-prometheus",
          "editorMode": "code",
          "expr": "rate(node_nfs_rpc_retransmissions_total{instance!=\"localhost:9100\"}[5m])",
          "hide": false,
          "instant": false,
          "legendFormat": "Number of RPC transmissions performed",
          "range": true,
          "refId": "B"
        },
        {
          "datasource": "host-prometheus",
          "editorMode": "code",
          "expr": "rate(node_nfs_rpcs_total{instance!=\"localhost:9100\"}[5m])",
          "hide": false,
          "instant": false,
          "legendFormat": "Total number of RPCs performed",
          "range": true,
          "refId": "C"
        }
      ],
      "title": "NFS RPC Calls from Workers",
      "type": "timeseries"
    }
    ],
    "refresh": "",
    "schemaVersion": 39,
    "tags": [],
    "templating": {
      "list": [
        {
          "current": {
            "selected": true,
            "text": "All",
            "value": "$__all"
          },
          "definition": "label_values(node_cpu_seconds_total,instance)",
          "hide": 0,
          "includeAll": true,
          "multi": false,
          "name": "workers_list",
          "options": [],
          "query": {
            "qryType": 1,
            "query": "label_values(node_cpu_seconds_total,instance)",
            "refId": "PrometheusVariableQueryEditor-VariableQuery"
          },
          "refresh": 1,
          "regex": "",
          "skipUrlSync": false,
          "sort": 0,
          "type": "query"
        }
      ]
    },
    "time": {
      "from": "now-1h",
      "to": "now"
    },
    "timepicker": {},
    "timezone": "",
    "title": "Audio transcription cluster",
    "version": 1,
    "weekStart": ""
}