{
        "version": "10",
        "aliases": {
                "local": {
                        "url": "https://{{ groups['host'][0] }}:{{minio_s3_port}}",
                        "accessKey": "minioadmin",
                        "secretKey": "{{lookup('ansible.builtin.file','./.miniopass')}}",
                        "api": "s3v4",
                        "path": "auto"
                }
        }
}